@use '../../styles/partials/global.scss' as *;
// @use './styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';
@use '../../styles/partials/fonts.scss';

.home-projects {
    display: contents;

    &__title {
        font-family: 'DMSerifText';
        font-size: 4rem;
        margin: 0;
        color: variables.$dark-brown;
    }

    &__section {
        display: flex;
        background-color: variables.$dark-brown;
        padding: 1.5rem;
        border-radius: 5px;
    }

    &__image {
        width: 20rem;
    }
}
