@use '../../styles/partials/global.scss' as *;
// @use './styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';
@use '../../styles/partials/fonts.scss';

.modal {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Anek Malayalam';
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);

    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
    }

    &__card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 1rem auto 3rem auto;
        max-width: 50%;
        background-color: white;
        border-radius: 10px;
        z-index: 2000;
        background: white;
        position: relative;
        margin: 1.75rem auto;
        padding: 1rem;
    }

    &__image {
        width: 95%;
        height: 450px;
        display: block;
        margin: 1rem auto;
        border-radius: 10px;
    }

    &__info {
        margin: 0 2rem;
    }

    &__title {
        font-size: 2.5rem;
        margin: 0;
        color: variables.$dark-brown;
    }

    &__description {
        font-size: 1.2rem;
    }

    &__techstack {
        column-count: 3;
    }

    &__techstack-tech {
        margin: 0 0 0.4rem 0;
        font-size: 1.2rem;
    }

    &__git-link {
        background-color: variables.$orange-red;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 0.4rem;
        font-family: 'Anek Malayalam';
        font-size: 1.2rem;
        width: 12rem;
        align-self: flex-end;
        margin-bottom: 1rem;

        &:active {
            background-color: #AD2F0D;
        }
    }

}
